<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Required -->
    <add key="ServiceStack.Plugins.IntroSpec.Contact.Name" value="Private Pile"/>
    <add key="ServiceStack.Plugins.IntroSpec.Contact.Email" value="private@pile.com"/>
    <add key="ServiceStack.Plugins.IntroSpec.Description" value="ServiceCop validates services registered with a service registry"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>